.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-with-bg {
    margin-bottom: 2em;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-radius: .3em;
    box-shadow: 0 1px 3px #cccccc;
}
