{% extends 'base_cover.html' %}
{% load i18n %}

{% block title %}Password reset | Socbook{% endblock title %}

{% block content %}
<div class="container">
    {% if validlink %}
        <h2 class="form-signin-heading">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h2>

        <form action="{% url 'password_reset_confirm' %}" method="POST">
            {% csrf_token %}

            {% if form.errors %}
              {% for error in form.errors %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}

            <div class="form-group {% if form.errors %} has-error {% endif %}">
                <input class="form-control" type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="New password" required autofocus>
                <label for="{{ form.new_password1.id_for_label }}" class="sr-only">New password</label>
            </div>

            <div class="form-group {% if form.errors %} has-error {% endif %}">
                <input class="form-control" type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm new password" required autofocus>
                <label for="{{ form.new_password2.id_for_label }}" class="sr-only">Confirm new password</label>
            </div>

            <div class="form-group">
                <input class="btn btn-success btn-primary btn-block" type="submit" value="Change my password" />
            </div>
        </form>

    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
</div>
{% endblock content %}
