{% extends 'base_settings.html' %}


{% block form %}
<form action="{% url 'accounts:password_settings' %}" role="form" method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group {% if field.errors %} has-error {% endif %}">
        <label for="{{ field.label }}" class="col-xs-2 control-label">{{ field.label }}</label>
        <div class="col-xs-10">
          {{ field }}
          {% if field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
           <input type="submit" value="Change" class="btn btn-danger">
       </div>
    </div>
</form>
{% endblock form %}
